<!-- about -->
<section class="about py-lg-4 py-md-4 py-sm-3 py-3" id="about">
  <div class="container py-lg-5 py-md-4 py-sm-4 py-3"><br>
    <h3 class="title text-center mb-2">About Us</h3>
    <div class="title-w3ls-text text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">
      <h5>La Leavens – The seeds of innovations
      </h5>
      
    </div>
    <p>
      Welcome you to new essence to the world of spices. The company was established in the year of 2014 as Ceylon spice manufacturer. The company is now expanding its wings in domestic market with “KOLONNA” a brand, which takes pleasure in providing the natural taste and aroma of spices.

Quality conscious consumers and price conscious customers are increasingly turning towards KOLONNA spice products which provide an array of products including pure spices and blends of natural spices. KOLONNA spices stand unassailable throughout the hotel sector and retail sector. In flavor and fragrance, KOLONNA spices stand in a class of their own.

For those who have a palate for spicy gourmet dishes “KOLONNA” offers graded and quality checked Sri Lankan spices collected from home gardens, medium and vast spice cultivations on the hills and plains, at affordable prices.



    </p>
    <br>
    <div class="row">
      <div class="col-lg-5 video-info-img text-center position-relative">
        <div class="abut-img-w3l">
          <img src="./assets/images/about.jpg" alt="" class="img-fluid">
        </div>
        <!-- <div class="abut-img-two">
          <img src="./assets/images/bb2.jpg" alt="" class="img-fluid">
        </div> -->
      </div>
      <div class="col-lg-7 left-abut-txt ">
        <div class="about-right-grid">
          <h2 class="mb-3">“La Leavens are always put their pervasive influence to modify or value add to anything which transforms them for the better”</h2>
          <p>This is a great place to buy spices at very good prices. Kolonna is in local market at Godakawela, Udawalawa, Rathnapura and near to the factory so can be busy but if you have any inquiry we can negotiate deliver our products to the door step rather than visit to the retail shop then you can get everything from fresh Kolonna Products on ready mixed for authentic curries.

          </p>
          <br>
          <h2 class="mb-3">Vision</h2>
          <p>
            To manufacture and market spice products in a sustainable way to cater all segments of the society at affordable prices by adding intrinsic values of Ceylon spices with the highest corporate governance standards
          </p>
          <br>
          <h2 class="mb-3">Mission</h2>
          <p>
            Enhancing the quality of the products through GAP<br>
            Best farm gate price for their raw products with advisory support on agricultural knowledge<br>
            Less labor usage through sophisticated technologies<br>
            Usage of sustainable energy sources<br>
            New value added product development<br>
            100% natural products in the range
          </p>
          <br>
          
        </div>

      </div>
    </div>
  </div>
</section>
<!--//about -->