<!-- recipes -->
<section class="blog py-lg-5 py-md-4 py-sm-3 py-3" id="recipes">
  <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
    <h3 class="title text-center mb-2">Recipes</h3>
    <div class="title-w3ls-text text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum
      </p>
    </div>
    <div class="row">
      <div class="blog-wthree-color col-lg-4 position-relative my-3">
        <div class="w3ls-post-img">
          <img src="images/bb2.jpg" class="img-fluid" alt="">
          <div class="blog-info">
            <a href="#about">
              <ul>
                <li>JUL</li>
                <li>15</li>
              </ul>
            </a>
          </div>
        </div>
        <div class="blog-txt-info">
          <h4 class="mb-2">
            <a href="#about">Health Benefits of a Raw Food </a>
          </h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
          <div class="news-date-list pt-2">
            <ul>
              <li class="mr-1">
                <a href="#">12/4/2019</a>
              </li>
              <li>
                <a href="#">3 Tags</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="blog-wthree-color col-lg-4 position-relative my-3">
        <div class="w3ls-post-img">
          <img src="./assets/images/bb3.jpg" class="img-fluid" alt="">
          <div class="blog-info">
            <a href="#about">
              <ul>
                <li>JUL</li>
                <li>15</li>
              </ul>
            </a>
          </div>
        </div>
        <div class="blog-txt-info">
          <h4 class="mb-2">
            <a href="#about">Health Benefits of a Raw Food </a>
          </h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
          <div class="news-date-list pt-2">
            <ul>
              <li class="mr-1">
                <a href="#">12/4/2019</a>
              </li>
              <li>
                <a href="#">3 Tags</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="blog-wthree-color col-lg-4 position-relative my-3">
        <div class="w3ls-post-img">
          <img src="images/g4.jpg" class="img-fluid" alt="">
          <div class="blog-info">
            <a href="#about">
              <ul>
                <li>JUL</li>
                <li>15</li>
              </ul>
            </a>
          </div>
        </div>
        <div class="blog-txt-info">
          <h4 class="mb-2">
            <a href="#about">Health Benefits of a Raw Food </a>
          </h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
          <div class="news-date-list pt-2">
            <ul>
              <li class="mr-1">
                <a href="#">12/4/2019</a>
              </li>
              <li>
                <a href="#">3 Tags</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--//recipes -->