<!-- recipes -->
<section class="blog py-lg-5 py-md-4 py-sm-3 py-3" id="recipes">
  <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
    <h3 class="title text-center mb-2">Recipes</h3>
    <div class="title-w3ls-text text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">
      <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum
      </p> -->
    </div>
    <div class="row">
      <div class="blog-wthree-color col-lg-4 position-relative my-3">
        <div class="w3ls-post-img">
          <img src="../assets/images/pork curry.jpg" class="img-fluid" alt="">
          <!-- <div class="blog-info">
            <a href="#about">
              <ul>
                <li>JUL</li>
                <li>15</li>
              </ul>
            </a>
          </div> -->
        </div>
        <div class="blog-txt-info">
          <h4 class="mb-2">
            <a href="#about">CHICKEN BLACK CURRY</a>
          </h4>
          <p>Chicken 750g<br>
              Kolonna black pepper2 tea-spoons<br>
              Kolonna meet curry mix 2 tea spoons<br>
              Two big onions<br>
              Curry leaves and rampe as you needed<br>
              salt as you needed<br>
              
              </p>
              <a href="#res1">
                  more..
                </a>
          <!-- <div class="news-date-list pt-2">
            <ul>
              <li class="mr-1">
                <a href="#">12/4/2019</a>
              </li>
              <li>
                <a href="#">3 Tags</a>
              </li>
            </ul>
          </div> -->
          <div id="res1" class="popup-effect">
              <div class="popup">
                <p>Gmail automatically identifies spam and suspicious emails and marks those emails as spam. When you open your Spam label, you’ll see any emails that were marked as spam by you or Gmail. Each email will include a label at the top that explains why it was sent to Spam.Gmail automatically identifies spam and suspicious emails and marks those emails as spam. When you open your Spam label, you’ll see any emails that were marked as spam by you or Gmail. Each email will include a label at the top that explains why it was sent to Spam.</p>
                <a class="close" href="#recipes">×</a>
              </div>
            </div>
        </div>
      </div>
      <div class="blog-wthree-color col-lg-4 position-relative my-3">
          <div class="w3ls-post-img">
            <img src="../assets/images/pork curry.jpg" class="img-fluid" alt="">
            <!-- <div class="blog-info">
              <a href="#about">
                <ul>
                  <li>JUL</li>
                  <li>15</li>
                </ul>
              </a>
            </div> -->
          </div>
          <div class="blog-txt-info">
            <h4 class="mb-2">
              <a href="#about">CHICKEN BLACK CURRY</a>
            </h4>
            <p>Chicken 750g<br>
                Kolonna black pepper2 tea-spoons<br>
                Kolonna meet curry mix 2 tea spoons<br>
                Two big onions<br>
                Curry leaves and rampe as you needed<br>
                salt as you needed<br>
                
                </p>
                <a href="#res2">
                    more..
                  </a>
            <!-- <div class="news-date-list pt-2">
              <ul>
                <li class="mr-1">
                  <a href="#">12/4/2019</a>
                </li>
                <li>
                  <a href="#">3 Tags</a>
                </li>
              </ul>
            </div> -->
            <div id="res2" class="popup-effect">
                <div class="popup">
                  <p>Gmail automatically identifies spam and suspicious emails and marks those emails as spam. When you open your Spam label, you’ll see any emails that were marked as spam by you or Gmail. Each email will include a label at the top that explains why it was sent to Spam.Gmail automatically identifies spam and suspicious emails and marks those emails as spam. When you open your Spam label, you’ll see any emails that were marked as spam by you or Gmail. Each email will include a label at the top that explains why it was sent to Spam.</p>
                  <a class="close" href="#recipes">×</a>
                </div>
              </div>
          </div>
        </div>
        <div class="blog-wthree-color col-lg-4 position-relative my-3">
            <div class="w3ls-post-img">
              <img src="../assets/images/pork curry.jpg" class="img-fluid" alt="">
              <!-- <div class="blog-info">
                <a href="#about">
                  <ul>
                    <li>JUL</li>
                    <li>15</li>
                  </ul>
                </a>
              </div> -->
            </div>
            <div class="blog-txt-info">
              <h4 class="mb-2">
                <a href="#about">CHICKEN BLACK CURRY</a>
              </h4>
              <p>Chicken 750g<br>
                  Kolonna black pepper2 tea-spoons<br>
                  Kolonna meet curry mix 2 tea spoons<br>
                  Two big onions<br>
                  Curry leaves and rampe as you needed<br>
                  salt as you needed<br>
                  
                  </p>
                  <a href="#res3">
                      more..
                    </a>
              <!-- <div class="news-date-list pt-2">
                <ul>
                  <li class="mr-1">
                    <a href="#">12/4/2019</a>
                  </li>
                  <li>
                    <a href="#">3 Tags</a>
                  </li>
                </ul>
              </div> -->
              <div id="res3" class="popup-effect">
                  <div class="popup">
                    <p>Gmail automatically identifies spam and suspicious emails and marks those emails as spam. When you open your Spam label, you’ll see any emails that were marked as spam by you or Gmail. Each email will include a label at the top that explains why it was sent to Spam.Gmail automatically identifies spam and suspicious emails and marks those emails as spam. When you open your Spam label, you’ll see any emails that were marked as spam by you or Gmail. Each email will include a label at the top that explains why it was sent to Spam.</p>
                    <a class="close" href="#recipes">×</a>
                  </div>
                </div>
            </div>
          </div>
    </div>
  </div>
</section>
<!--//recipes -->