<!-- service -->
<section class="service py-lg-4 py-md-4 py-sm-3 py-3" id="products">
  <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
    <h3 class="title text-center mb-2">Products</h3>
    <div class="title-w3ls-text text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">
      <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum
      </p> -->
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6 ser-icon text-center my-3">
        <div class="grid-wthree-service">
          <img src="./assets/images/Kolonna chilli pieecs.png" alt="news image" class="img-fluid">
          <div class="ser-text-wthree mt-3">
            <h4>
                KOLONNA CHILLI PIECES
            </h4>
            <p class="mt-2">50g 100g
                250g 500g
                1kg</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 ser-icon text-center my-3">
        <div class="grid-wthree-service">
          <img src="./assets/images/kolonna curry powder.jpg" alt="news image" class="img-fluid">
          <div class="ser-text-wthree mt-3">
            <h4>
                KOLONNA CURRY POWDER
            </h4>
            <p class="mt-2">50g 100g
                250g 500g
                1kg</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 ser-icon text-center my-3">
        <div class="grid-wthree-service">
          <img src="./assets/images/colonna chilli powder.jpg" alt="news image" class="img-fluid">
          <div class="ser-text-wthree mt-3">
            <h4>
                KOLONNA CHILLI POWDER
            </h4>
            <p class="mt-2">50g 100g
                250g 500g
                1kg</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 ser-icon text-center my-3">
        <div class="grid-wthree-service">
          <img src="./assets/images/kolonna mustered seeds.jpg" alt="news image" class="img-fluid">
          <div class="ser-text-wthree mt-3">
            <h4>
                KOLONNA MUSTERED SEEDS
            </h4>
            <p class="mt-2">50g 100g
                250g 500g
                1kg</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 ser-icon text-center my-3">
        <div class="grid-wthree-service">
          <img src="./assets/images/KOLONNA MUSTERED POWDER.jpg" alt="news image" class="img-fluid">
          <div class="ser-text-wthree mt-3">
            <h4>
                KOLONNA MUSTERED POWDER
            </h4>
            <p class="mt-2">50g 100g
                250g 500g
                1kg</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 ser-icon text-center my-3">
        <div class="grid-wthree-service">
          <img src="./assets/images/KOLONNA BLACK PEPPER SEEDS.jpg" alt="news image" class="img-fluid">
          <div class="ser-text-wthree mt-3">
            <h4>
                KOLONNA BLACK PEPPER SEEDS
            </h4>
            <p class="mt-2">50g 100g
                250g 500g
                1kg</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-6 ser-icon text-center my-3">
        <div class="grid-wthree-service">
          <img src="./assets/images/KOLONNA BLACK PEPPER CHOPPED.jpg" alt="news image" class="img-fluid">
          <div class="ser-text-wthree mt-3">
            <h4>
                KOLONNA BLACK PEPPER CHOPPED
            </h4>
            <p class="mt-2">50g 100g
                250g 500g
                1kg</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 ser-icon text-center my-3">
          <div class="grid-wthree-service">
            <img src="./assets/images/KOLONNA BLACK PEPPER POWDER.jpg" alt="news image" class="img-fluid">
            <div class="ser-text-wthree mt-3">
              <h4>
                  KOLONNA BLACK PEPPER POWDER
              </h4>
              <p class="mt-2">50g 100g
                  250g 500g
                  1kg</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 ser-icon text-center my-3">
            <div class="grid-wthree-service">
              <img src="./assets/images/KOLONNA MEET CURRY MIX.jpg" alt="news image" class="img-fluid">
              <div class="ser-text-wthree mt-3">
                <h4>
                    KOLONNA MEET CURRY MIX
                </h4>
                <p class="mt-2">50g 100g
                    250g 500g
                    1kg</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6 ser-icon text-center my-3">
              <div class="grid-wthree-service">
                <img src="./assets/images/KOLONNA CINNAMON.jpg" alt="news image" class="img-fluid">
                <div class="ser-text-wthree mt-3">
                  <h4>
                      KOLONNA CINNAMON
                  </h4>
                  <p class="mt-2">50g 100g
                      250g 500g
                      1kg</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 ser-icon text-center my-3">
                <div class="grid-wthree-service">
                  <img src="./assets/images/KOLONNA TURMERIC POWDER.jpg" alt="news image" class="img-fluid">
                  <div class="ser-text-wthree mt-3">
                    <h4>
                        KOLONNA TURMERIC POWDER
                    </h4>
                    <p class="mt-2">50g 100g
                        250g 500g
                        1kg</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-6 ser-icon text-center my-3">
                  <div class="grid-wthree-service">
                    <img src="./assets/images/GRAM FLAW.jpg" alt="news image" class="img-fluid">
                    <div class="ser-text-wthree mt-3">
                      <h4>
                          GRAM FLAW
                      </h4>
                      <p class="mt-2">Dark<br>
                          Light</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 ser-icon text-center my-3">
                    <div class="grid-wthree-service">
                      <img src="./assets/images/KOLONNA CARDAMOM.jpg" alt="news image" class="img-fluid">
                      <div class="ser-text-wthree mt-3">
                        <h4>
                            KOLONNA CARDAMOM
                        </h4>
                        <p class="mt-2">50g 100g
                            250g 500g
                            1kg</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-6 ser-icon text-center my-3">
                      <div class="grid-wthree-service">
                        <img src="./assets/images/KOLONNA CLOVES.jpg" alt="news image" class="img-fluid">
                        <div class="ser-text-wthree mt-3">
                          <h4>
                              KOLONNA CLOVES
                          </h4>
                          <p class="mt-2">50g 100g
                              250g 500g
                              1kg</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 ser-icon text-center my-3">
                        <div class="grid-wthree-service">
                          <img src="./assets/images/KOLONNA CUMIN SEEDS.jpg" alt="news image" class="img-fluid">
                          <div class="ser-text-wthree mt-3">
                            <h4>
                                KOLONNA CUMIN SEEDS
                            </h4>
                            <p class="mt-2">50g 100g
                                250g 500g
                                1kg</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-sm-6 ser-icon text-center my-3">
                          <div class="grid-wthree-service">
                            <img src="./assets/images/KOLONNA GARCINIA.jpg" alt="news image" class="img-fluid">
                            <div class="ser-text-wthree mt-3">
                              <h4>
                                  KOLONNA GARCINIA
                              </h4>
                              <p class="mt-2">50g 100g
                                  250g 500g
                                  1kg</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 ser-icon text-center my-3">
                            <div class="grid-wthree-service">
                              <img src="./assets/images/KOLONNA RED CHILLI.jpg" alt="news image" class="img-fluid">
                              <div class="ser-text-wthree mt-3">
                                <h4>
                                    KOLONNA RED CHILLI
                                </h4>
                                <p class="mt-2">50g 100g
                                    250g 500g
                                    1kg</p>
                              </div>
                            </div>
                          </div>

    </div>
  </div>
</section>
<!--//service -->